doctype html
html
	head
		script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js')
	body
		h1 Username Search engine
		form.donnie(action= '/form' method='post')
			input#firstname(placeholder='search for a name or an emailadress..' name='firstname', autocomplete='off', style="width:230px")
			input#goButton(type="submit", value="find user")
		p#listIt 
	


		a(href='/') home
		br
		a(href='/newUser') register

		script.
			var timer;
			var x = -1;
			var clas = 0;
			var bras = 0;
			var plompie = 0;
			var schlompie = 0;
			
			$("#firstname").keyup(function (e) {
				var code = (e.keyCode || e.which);
				if(code == 37 || code == 38 || code == 39 || code == 40) {
				return;
				}

				clearTimeout(timer);
				
				$('#listIt').empty();

				var fileData = {
					first : $("#firstname").val()
					}
				console.log(fileData)
				
				timer = setTimeout(function() {
				$.post("/autoComplete", fileData,function(res, textStatus) {
						
						for(i = 0; i < res.object.length; i++) {
						
						$('#listIt').append("<p id=" + i + ">" + res.object[i] + "</p>" );
		
						}
					});
				},300)
			});

			$('#firstname').keydown(function(e) { 
							switch(e.which) {
								
								
								case 40: console.log('down');
									x++;
									plompie = "#" + (x - 1);
									schlompie = plompie.toString();
									$(schlompie).css("background-color","white")
									clas = "#" + x	
									bras = clas.toString();
									var myvalue = $(bras).text()
									$(bras).css("background-color", "gray");
									$('#firstname').val(myvalue)
									break;
								case 38: 
									x--;
									plompie = "#" + (x + 1);
									schlompie = plompie.toString();
									$(schlompie).css("background-color","white")
									clas = "#" + x	
									bras = clas.toString();
									var myvalue = $(bras).text()
									$(bras).css("background-color", "gray");
									$('#firstname').val(myvalue)
									break;
								default: return;
								}

						});
				

		

				
